.RecipeList {
  align-items: center;
  background-image: url('../assets/home-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: center;
  width: auto;
}

.RecipeList-item {
  align-items: center;
  background-color: white;
  border-radius: 3px;
  border:2px solid cornflowerblue;
  display: flex;
  flex-direction: column;
  height: 30px;
  justify-content: center;
  margin: 6px 0;
  padding: 0 16px;
}

.RecipeList-title {
  align-items: center;
  background-color: white;
  border-radius: 3px;
  border:3px solid cornflowerblue;
  display: flex;
  flex-direction: column;
  height: 35px;
  justify-content: center;
  margin-bottom:16px;
  width: 200px;
}

